@model HomeViewModel
@{
    ViewBag.Title = "Home of " + @Model.Settings.Name;
}

@section Javascript
{ 
    <script async src="@Url.Content("~/Javascript/Home.js")"></script> 
}
@section Css{ <link rel="stylesheet" href="@Url.Content("~/Css/Home.css")"/>}

<h2 id="welcome-message">@Model.Settings.Name</h2>