@model MatchesViewModel
@{
    ViewBag.Title = "Matches";
    var currentUser = (Player)HttpContext.Current.Session["User"];
}
@section Javascript{ <script async src="@Url.Content("~/Javascript/Matches.js")"></script> }
@section Css{ <link rel="stylesheet" href="@Url.Content("~/Css/Matches.css")"/>}

@if (currentUser != null)
{
    @Html.Partial("_RegisterMatch", Model)
}
else
{
    <p>@Html.ActionLink("Log on", "LogOn", "Account") to register matches</p>
}

<h3>Latest Matches</h3>
@if (Model.PlayedMatches.Any())
{
    Html.RenderPartial("_LegendaryMatchTable", new MatchTableViewModel { Matches = Model.PlayedMatches, User = currentUser, Settings = Model.Settings});
}
else
{
    <span class="dimmed">What?! No mathes played yet - hurry up and get to it!</span>
}